<ion-card>
  <ion-card-header>
    <ion-card-title>파일 업로드</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>파일 선택</ion-label>
      <input type="file" (change)="onFileSelected($event)" hidden />
      <ion-button (click)="onUploadClick()">파일 업로드</ion-button>
    </ion-item>

    <ion-button expand="full" (click)="uploadFile()" *ngIf="selectedFile">파일 전송</ion-button>


  </ion-card-content>
  <video width="100%" controls autoplay>
    <source src="http://localhost:3000/api/file/test_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

</ion-card>